body {
  margin: 0;
  padding: 0;
  font-family: arial;
}

 #title {
  margin: auto;
  font-size: 3em;
  color: #666;
  margin-top: 140px;
  text-align:center;

 }

.card-box {
  border: black solid 10px;
  margin:auto;
  background-color: darkgreen;
  border-radius: 10px;
  margin-top: 20px;
  width: 800px;
  padding-top: 50px;
  padding-bottom: 50px;
  position:relative;
  perspective:1000px;
}

/* .card:hover {
  transform: rotateY(180deg);
} */


.card {
  background-color: darkred;
  border-radius: 5px;
  border: black solid 2px;
  margin-left: 83px;
  display: inline-block;
  padding: 30px;
  color: White;
  padding-top: 90px;
  width: 90px;
  height: 90px;
  transform-style:preserve-3d;
  transition: all 0.5s linear;
}

.front {
  position:absolute;
  backface-visibility:hidden;
}
.back {
  text-align:center;
  transform:rotateY(180deg);
}

.buttonBox {
  position:relative;
  left:50%;
  margin-left:-215px;
  margin-top:20px;
  display:inline-block;
}
button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    margin:10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position:relative;
}
